:root {
  --rule-blue: #72accb;
}

body {
  background: #242424;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-block: 6rem;
}

.translate-container {
  padding: 1rem;
  width: min-content;
  border-radius: 1.5rem;
}

.io-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.io-container-item {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 13rem;
}
div:has(> .inp) {
  position: relative;
  height: 100%;
  overflow: hidden;
}
div.inp {
  position: relative;
  border: 1px solid white;
  font-family: "Segoe Print", "Bradley Hand", "Bradley Hand ITC",
    "Comic Sans MS", "Comic Sans", cursive;
  font-size: 1.2rem;
  line-height: 2rem;

  border-radius: 0.25rem;

  color: #201265;

  resize: none;

  background-color: rgb(247, 255, 214);

  padding-left: 1rem;
  padding-right: 4rem;
  padding-block: 0.35rem;
  background-image: repeating-linear-gradient(
    transparent 0rem,
    transparent 1.9rem,
    var(--rule-blue) 1.9rem,
    var(--rule-blue) 2rem
  );

  display: block;

  outline: none;

  width: 35vw;

  overflow: hidden;

  height: 100%;
  box-shadow: inset 0 6px 15px rgba(0, 0, 0, 0.149),
    0 0 0 1px rgb(181, 181, 181);

  @media (max-width: 768px) {
    width: 80vw;
  }
  & * {
    font-family: "Segoe Print", "Bradley Hand", "Bradley Hand ITC",
      "Comic Sans MS", "Comic Sans", cursive !important;
  }
}
:has(> button.speak) {
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
  padding: 0.25rem;
  border-radius: 1.5rem;
}
button.speak {
  color: white;
  border: none;
  height: 2.25rem;
  cursor: pointer;
  font-size: 1.5rem;
  transform: rotateY(180deg);
}

select {
  width: 100%;
  margin-bottom: 0.5rem;
}
